@charset "UTF-8";

#section_1 {
	width: 100%;
	padding-top: 76px;
	height: 380px;
	text-align: center;
}

#section_1 #s_item1 {
	text-align: center;
	height: 600px;
}

#slide>ul>li {
	position: absolute;
	height: 300px;
	z-index: 1;
	left: 50%; /* position: absolute; 가운데 정렬 */
	transform:translateX(-50%); /* position: absolute; 가운데 정렬 */
}

#section_2 {
	width: 100%;
	text-align: center;
	border-top: solid 1px black;
	margin-bottom: 35px;
}

#s_item2 h3 {
	font-size: 25px;
	margin: 35px 0;
}

#s_item2 #span_detail {
	padding-bottom: 9px;
	border-bottom: solid 2px black;
	margin-bottom: 15px;
	letter-spacing: 1px;
}





/* 슬라이드 */
ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#s_item3 .slide .panel img {
  vertical-align: top;
  border: none;
}

.slide {
  position: relative;
  padding-top: 50px;
  overflow: hidden;
}

.panel {
  width: 400%;
}

.panel:after {
  content: "";
  display: block;
  clear: both;
}

.panel>li {
  width: 25%;
  height: 250px;
  float: left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.panel>li:nth-of-type(1) {
  background-color: white;
}

.panel>li:nth-of-type(2) {
  background-color: white;
}

.panel>li:nth-of-type(3) {
  background-color: white;
}

.dot:after {
  content: "";
  display: block;
  clear: both;

}

.dot {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  padding-top : 50px;
}

.dot>li {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #342f2f;
  margin-left: 10px;
  margin-right: 10px;
  text-indent: -9999px;
  cursor: pointer;
  margin-top: 20px;
}

.dot>li.on {
  background-color: #342f2f;
}

.prev {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 21%;
  cursor: pointer;
}

.next {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: 21%;
  cursor: pointer;
}

/* 슬라이드 끝 */

#section_3 {
	width: 100%;
}

#s_item4 {
	width: 1100px;
	border: solid 1px black;
	margin: 0 auto;
	background-color: #EEEBEB;
}

#s_item5 {
	text-align: center;
}

#s_item5 h3 {
	font-size: 25px;
	margin: 35px 0;
}

#s_item5 #span_detail2 {
	padding-bottom: 9px;
	border-bottom: solid 2px black;
	margin-bottom: 15px;
	letter-spacing: 1px;
	text-align: center;
}

.ul1 {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 100%;
}

.ul1 .list_li {
	float: left;
	margin: 15px 35px 35px 35px;
}

#list_info {
	width: 148px;
	border: solid 1px black;
}

#section_4 {
	width: 100%;
	clear: both;
}

#s_item6 {
	width: 1100px;
	border: solid 1px black;
	margin: 0 auto;
	background-color: #EEEBEB;
}

#s_item7 {
	text-align: center;
}

#s_item7 h3 {
	font-size: 25px;
	margin: 35px 0;
}

#s_item7 #span_detail3 {
	padding-bottom: 9px;
	border-bottom: solid 2px black;
	margin-bottom: 15px;
	letter-spacing: 1px;
	text-align: center;
}

.ul2 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.ul2 .list_li {
	float: left;
	margin: 15px 35px 35px 35px;
}

#list_info {
	width: 148px;
	border: solid 1px black;
}

#list_info .name {
	line-height: 1.5em;
	font-size: 20px;
	display: block;
}

#div_line {
	width: 100%;
	height: 100px;
	clear: both;
}



